// button

$button-background-main: radial-gradient(
  ellipse at 25.37% -44.35%,
  #2fb1d9 0%,
  #38b0d6 26.35%,
  #2887bc 59.34%,
  #6173d5 100%
);
$button-background-main-hover: radial-gradient(
  229.74% 191.78% at 25.37% -44.35%,
  #6173d5 0%,
  #a5eefd 18.32%,
  #6173d5 59.34%,
  #6173d5 100%
);
$light-blue-font-color: #35bde7;
